
ChrisSample/.vs/ChrisSample/xs/project-cache/ChrisSample-Debug.json
*.json
ChrisSample/.vs/ChrisSample/xs/project-cache/ChrisSample-Debug.json
ChrisSample/.vs/ChrisSample/xs/project-cache/ChrisSample.Android-Debug.json
ChrisSample/.vs/ChrisSample/xs/project-cache/ChrisSample.iOS-Debug|iPhoneSimulator.json
ChrisSample/.vs/ChrisSample/xs/UserPrefs.xml
ChrisSample/ChrisSample.Android/obj/ChrisSample.Android.csproj.nuget.dgspec.json
ChrisSample/ChrisSample.Android/obj/Debug/ChrisSample.Android.csproj.FileListAbsolute.txt
ChrisSample/ChrisSample.Android/obj/Debug/designtime/build.props
ChrisSample/ChrisSample.Android/obj/Debug/designtime/libraryprojectimports.cache
ChrisSample/ChrisSample.Android/obj/project.assets.json
ChrisSample/ChrisSample.Android/obj/project.nuget.cache
ChrisSample/ChrisSample.iOS/obj/ChrisSample.iOS.csproj.nuget.dgspec.json
ChrisSample/ChrisSample.iOS/obj/project.assets.json
ChrisSample/ChrisSample.iOS/obj/project.nuget.cache
ChrisSample/ChrisSample/obj/ChrisSample.csproj.nuget.dgspec.json
ChrisSample/ChrisSample/obj/Debug/netstandard2.0/ChrisSample.assets.cache
ChrisSample/ChrisSample/obj/Debug/netstandard2.0/ChrisSample.csproj.FileListAbsolute.txt
ChrisSample/ChrisSample/obj/project.assets.json
ChrisSample/ChrisSample/obj/project.nuget.cache
ChrisSample/.vs/ChrisSample/xs/UserPrefs.xml
ChrisSample/.vs/ChrisSample/xs/project-cache/ChrisSample.iOS-Debug|iPhoneSimulator.json
